<%- include("partials/header") -%>
<h1>COMPOSE</h1>
<form action="" method="post">
    <label value="title">Title</label><br>
    <input type="text" id="journalTitle" width="75%" name="journalTitle"><br>
    <label value="post">Post</label><br>
    <textarea id="journalBody" name="journalBody" width="75%" rows="5"></textarea><br>
    <button type="submit" id="publishbtn" name="publish">Publish</button>
</form>

<%- include("partials/footer") -%>